/* src/components/musicbook/onepagemusicbook.css */
/* 마디별 네모박스로 연주할 부분 표시해주는 css 코드 */
// onepagemusicbook.css | 2024.10.30 '연습하기' 페이지에 "한 페이지가 될 수 있게" 악보 기능 추가 (.css 디자인 코드)
// /practice 페이지를 구성하는 PracticePage.js가 호출하여 사용하는 코드를 꾸며주는 .css 코드 (악보 기능 추가해줌)

.musicbook {
  position: relative;
}

.imagebox_field {
  position: relative;
  display: inline-block;
}

.sheet_image {
  width: 100%;
  height: auto;
}

.red_box {
  position: absolute;
  border: 3px solid red;
  pointer-events: none;
}

/* 각 마디에 맞는 위치와 크기를 설정해주는 옵션 */
/* 퍼센트(%) 단위 -> 창 크기에 따라 알맞게 마디(measure) 위치를 조정 */

/* ---------------------------------------------------- */
/* page1 */
.measure-1 {
  top: 40%;
  left: 14.8%;
  width: 21%;
  height: 50%;
}

.measure-2 {
  top: 40%;
  left: 35%;
  width: 21%;
  height: 50%;
}

.measure-3 {
  top: 40%;
  left: 54.8%;
  width: 21%;
  height: 50%;
}

.measure-4 {
  top: 40%;
  left: 74.5%;
  width: 21%;
  height: 50%;
}
/* ---------------------------------------------------- */

/* ---------------------------------------------------- */
/* page2 */
.measure-5 {
  top: 3%;
  left: 8%;
  width: 22%;
  height: 82%;
}

.measure-6 {
  top: 3%;
  left: 31%;
  width: 22%;
  height: 82%;
}

.measure-7 {
  top: 3%;
  left: 53%;
  width: 22%;
  height: 82%;
}

.measure-8 {
  top: 3%;
  left: 75%;
  width: 22%;
  height: 82%;
}
/* ---------------------------------------------------- */

/* ---------------------------------------------------- */
/* page3 */
.measure-9 {
  top: 2%;
  left: 7%;
  width: 20%;
  height: 18%;
}

.measure-10 {
  top: 2%;
  left: 29%;
  width: 20%;
  height: 18%;
}

.measure-11 {
  top: 2%;
  left: 51%;
  width: 20%;
  height: 18%;
}

.measure-12 {
  top: 2%;
  left: 73%;
  width: 20%;
  height: 18%;
}
/* ---------------------------------------------------- */

/* ---------------------------------------------------- */
/* page4 */
.measure-13 {
  top: 2%;
  left: 7%;
  width: 20%;
  height: 18%;
}

.measure-14 {
  top: 2%;
  left: 29%;
  width: 20%;
  height: 18%;
}

.measure-15 {
  top: 2%;
  left: 51%;
  width: 20%;
  height: 18%;
}

.measure-16 {
  top: 2%;
  left: 73%;
  width: 20%;
  height: 18%;
}
/* ---------------------------------------------------- */

/* 추가 페이지는 이전과 동일한 방식으로 추가합니다. */
