/* src/components/musicbook/prettymusicbook.css */
/* 마디별 네모박스로 연주할 부분 표시해주는 css 코드 */
.musicbook {
  position: relative;
}

.imagebox_field {
  position: relative;
  display: inline-block;
}

.sheet_image {
  width: 100%;
  height: auto;
  //max-width: 700px; /* 화면이 커져도 일정 크기 이상 커지지 않도록 제한 */
}

.red_box {
  position: absolute;
  border: 3px solid red;
  pointer-events: none;
}

/* 각 마디에 맞는 위치와 크기를 설정해주는 옵션 */
/* 퍼센트(%) 단위 -> 창 크기에 따라 알맞게 마디(measure) 위치를 조정 */

/* ---------------------------------------------------- */
/* page1 */
.measure-1 {
  top: 45%;
  left: 12.5%;
  width: 23%;
  height: 50%;
}

.measure-2 {
  top: 45%;
  left: 34.5%;
  width: 21%;
  height: 50%;
}

.measure-3 {
  top: 45%;
  left: 54.8%;
  width: 21%;
  height: 50%;
}

.measure-4 {
  top: 45%;
  left: 75%;
  width: 21%;
  height: 50%;
}
/* ---------------------------------------------------- */

/* ---------------------------------------------------- */
/* page2 */
.measure-5 {
  top: 2%;
  left: 8%;
  width: 22%;
  height: 83%;
}

.measure-6 {
  top: 2%;
  left: 30.7%;
  width: 22%;
  height: 83%;
}

.measure-7 {
  top: 2%;
  left: 53%;
  width: 22%;
  height: 83%;
}

.measure-8 {
  top: 2%;
  left: 75%;
  width: 22%;
  height: 83%;
}
/* ---------------------------------------------------- */

/* ---------------------------------------------------- */
/* page3 */
.measure-9 {
  top: 2%;
  left: 7%;
  width: 24%;
  height: 85%;
}

.measure-10 {
  top: 2%;
  left: 30%;
  width: 24%;
  height: 85%;
}

.measure-11 {
  top: 2%;
  left: 52.3%;
  width: 24%;
  height: 85%;
}

.measure-12 {
  top: 2%;
  left: 74.5%;
  width: 24%;
  height: 85%;
}
/* ---------------------------------------------------- */

/* ---------------------------------------------------- */
/* page4 */
.measure-13 {
  top: 2%;
  left: 7%;
  width: 24%;
  height: 85%;
}

.measure-14 {
  top: 2%;
  left: 30.2%;
  width: 24%;
  height: 85%;
}

.measure-15 {
  top: 2%;
  left: 52.5%;
  width: 24%;
  height: 85%;
}

.measure-16 {
  top: 2%;
  left: 75%;
  width: 24%;
  height: 85%;
}
/* ---------------------------------------------------- */

/* ---------------------------------------------------- */
/* page5 */
.measure-17 {
  top: 2%;
  left: 7%;
  width: 24%;
  height: 85%;
}

.measure-18 {
  top: 2%;
  left: 30.2%;
  width: 24%;
  height: 85%;
}

.measure-19 {
  top: 2%;
  left: 52.5%;
  width: 24%;
  height: 85%;
}

.measure-20 {
  top: 2%;
  left: 75%;
  width: 24%;
  height: 85%;
}
/* ---------------------------------------------------- */

/* ---------------------------------------------------- */
/* page6 (후렴구 시작) */
.measure-21 {
  top: 2%;
  left: 7%;
  width: 24%;
  height: 85%;
}

.measure-22 {
  top: 2%;
  left: 30.2%;
  width: 24%;
  height: 85%;
}

.measure-23 {
  top: 2%;
  left: 52.5%;
  width: 24%;
  height: 85%;
}

.measure-24 {
  top: 2%;
  left: 75%;
  width: 24%;
  height: 85%;
}
/* ---------------------------------------------------- */

/* ---------------------------------------------------- */
/* page7 */
.measure-25 {
  top: 2%;
  left: 7%;
  width: 24%;
  height: 85%;
}

.measure-26 {
  top: 2%;
  left: 30.2%;
  width: 24%;
  height: 85%;
}

.measure-27 {
  top: 2%;
  left: 52.5%;
  width: 24%;
  height: 85%;
}

.measure-28 {
  top: 2%;
  left: 75%;
  width: 24%;
  height: 85%;
}
/* ---------------------------------------------------- */

/* ---------------------------------------------------- */
/* page8 */
.measure-29 {
  top: 2%;
  left: 7%;
  width: 25%;
  height: 85%;
}

.measure-30 {
  top: 2%;
  left: 31%;
  width: 25%;
  height: 85%;
}

.measure-31 {
  top: 2%;
  left: 53%;
  width: 25%;
  height: 85%;
}

.measure-32 {
  top: 2%;
  left: 75%;
  width: 25%;
  height: 85%;
}
/* ---------------------------------------------------- */

/* ---------------------------------------------------- */
/* page9 */
.measure-33 {
  top: 2%;
  left: 7%;
  width: 25%;
  height: 85%;
}

.measure-34 {
  top: 2%;
  left: 31%;
  width: 25%;
  height: 85%;
}

.measure-35 {
  top: 2%;
  left: 52.5%;
  width: 25%;
  height: 85%;
}

.measure-36 {
  top: 2%;
  left: 75%;
  width: 25%;
  height: 85%;
}
/* ---------------------------------------------------- */
